{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}




    <!-- hero start -->
    <section id="home" class="relative overflow-hidden py-72 bg-no-repeat bg-cover bg-[url(../images/bg.jpg)]">
        <div class="absolute inset-0 bg-center bg-cover bg-black/80"></div>

        <div class="container relative">
            <div class="text-center">
                <div class="flex justify-center mt-6 mb-10">
                    <div class="">
                        <h1 class="text-6xl/tight text-white font-bold mb-6">FMAR CONSULTING <br> built for <span class="typewrite capitalize relative text-primary underline" data-period="2000" data-type='[ "saas", "Event Managment", "Digital Payment", "Directory", "Coming Soon Pages"]'><span class="wrap"></span></span></h1>
                        <p class="text-base font-medium text-gray-100 max-w-xl mx-auto">The Make your website or web application perfect starting point for your next project and the ultimate resource for learning how experts build real websites with Tailwind CSS.</p>
                    </div>
                </div>

                <div class="">
                    <a href="#demo" class="inline-flex items-center justify-center px-6 py-2 font-semibold backdrop-blur-2xl bg-white text-black rounded-lg transition-all duration-500"> View Demos <i class="uil uil-eye text-xl ms-2"></i></a>
                </div>
            </div>
        </div><!-- Container End -->
    </section>
    <!-- Hero end -->





{% endblock %}

